<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>欢迎 | RAML</title>
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/common.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/js/gdpr-cookie.js"></script> -->
    <script src="/js/script.js"></script>
</head>

<body>
    <body class="welcome default ">
        <div class="top_wrapper">
            <header role="banner" id="header_nav">
                <div class="container">
                    <div class="navbarright">
                        <ul class="top_menu">
                            <li><a href="https://github.com/search?utf8=%E2%9C%93&q=RAML" target="_blank">GitHub</a></li>
                            <li><a href="https://forum.raml.org" target="_blank">论坛</a></li>
                            <li><a href="/slack">Slack</a></li>
                            <li><a href="https://twitter.com/ramlapi" target="_blank">Twitter</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <nav class="navbar navbar-inverse">
                        <div>
                            <div class="navbar-header"><a class="navbar-brand" href="/"><img src="/images/ramllogo.png" /></a></div>
                            <div id="navbar" class="">
                                <ul class="nav navbar-nav navbarright">
                                    <li class="parent_dropdown"><a class="dropdown-link parentlink" href="/developer">对于开发人员 <span class="caret"></span></a>
                                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                            <li class="dropdown-submenu"><a href="/developer" class="dropdown-link">为什么用
                                                    Raml <span class="dropdown-caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/developers/design-your-api">设计</a></li>
                                                    <li><a href="/developers/build-your-api">建立</a></li>
                                                    <li><a href="/developers/test-your-api">测试</a></li>
                                                    <li><a href="/developers/document-your-api">文档</a></li>
                                                    <li><a href="/developers/share-support-your-api">分享</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown-submenu"><a href="/developers/raml-100-tutorial" class="dropdown-link">教程<span
                                                        class="dropdown-caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="/developers/raml-100-tutorial">RAML 100 教程</a></li>
                                                    <li><a href="/developers/raml-200-tutorial">RAML 200 教程</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/"
                                                    target="_blank" onclick="ga('send', 'event', 'CTA', 'Click', '1.0-spec');">规范</a></li>
                                            <li><a href="/projects">项目库</a></li>
                                            <li><a href="/developers/books-and-resources">书和资源</a></li>
                                            <li><a href="/developers/contributing">特约</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent_dropdown"><a class="dropdown-link parentlink" href="/enterprises">对于企业 <span class="caret"></span></a>
                                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                            <li><a href="/enterprises">为什么用 RAML</a></li>
                                            <li><a href="/enterprise/vendor-support">提供商支持</a></li>
                                        </ul>
                                    </li>
                                    <li class="parent_dropdown"><a class="parentlink" href="/projects">项目</a></li>
                                    <li class="parent_dropdown"><a class="parentlink" href="https://medium.com/raml-api">博客</a></li>
                                    <li class="parent_dropdown"><a class="dropdown-link parentlink" href="/about-raml">关于
                                            <span class="caret"></span></a>
                                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                            <li><a href="/workgroup">工作组</a></li>
                                            <li><a href="/legal">法律</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
            <div class="container">
                <section class="homepage_topcontent">
                    <div class="row">
                        <div class="col-md-12">
                            <h1> 以简单方法设计API </h1>
                            <h3> RESTful API建模语言（RAML）可以轻松管理从设计到共享的整个API生命周期。它简洁 - 您只需编写您需要定义的内容 - 并且可以重复使用。它是机器可读的API设计，实际上是人类友好的。 </h3>
                            <h2>写一次。使用很多。鼓励创造性的懒惰。</h2>
                        </div>
                    </div>
                    <div class="homepage_icons"><a href="/developers/design-your-api"><img src="/images/RAMLicondesign.svg"
                                class="design"></a><a href="/developers/build-your-api"><img src="/images/RAMLiconbuild.svg"
                                class="build"></a><a href="/developers/test-your-api"><img src="/images/RAMLicontest.svg"
                                class="contest"></a><a href="/developers/document-your-api"><img src="/images/RAMLicondocument.svg"
                                class="document"></a><a href="/developers/share-support-your-api"><img src="/images/RAMLiconshare.svg"
                                class="share"></a></div>
                    <div class="gap"><a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-10/raml-10.md/"
                            target="_blank" class="raml-links" onclick="ga('send', 'event', 'CTA', 'Click', '1.0-spec');">RAML
                            1.0 规范</a><br /><br /><a href="https://github.com/raml-org/raml-spec/blob/master/versions/raml-08/raml-08.md"
                            target="_blank" class="ramloldlink" onclick="ga('send', 'event', 'CTA', 'Click', '0.8-spec');">RAML
                            0.8 规范</a></div>
                </section>
            </div>
        </div>
        <div class="main-wrapper">
            <section class="region-highlighted">
                <div class="container">
                    <div><img src="images/homepage_logos.svg" alt="homepage logos" align="center" class="img-responsive" /></div>
                </div>
            </section>
            <section class="homepage-inner-wrapper">
                <div class="container">
                    <div class="console_img"><img src="images/console.png" alt="RAML Console" class="img-responsive" /></div>
                    <div class="col-md-12 testimonial"></div>
                </div>
            </section>
            <section class="map-container">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5"><img src="images/map.jpg" usemap="#image-map" height="410"><map name="image-map"
                                id="imagemap"><area target="" alt="design" title="design" href="#design_desc" coords="-3,90,110,237"
                                    shape="rect" id="one_design"><area target="" alt="Build" title="Build" href="#build_desc"
                                    coords="161,-4,275,118" shape="rect" id="one_build"><area target="" alt="Test" title="Test"
                                    href="#test_desc" coords="314,109,431,235" shape="rect" id="one_test"><area target=""
                                    alt="document" title="document" href="#document_desc" coords="278,276,393,399" shape="rect"
                                    id="one_document"><area target="" alt="Share" title="Share" href="#share_desc" coords="34,282,146,399"
                                    shape="rect" id="one_share"></map>
                            <div class="hmapimg" id="one_build_img"></div>
                            <div class="hmapimg" id="one_test_img"></div>
                            <div class="hmapimg" id="one_document_img"></div>
                            <div class="hmapimg" id="one_share_img"></div>
                            <div class="hmapimg" id="one_design_img"></div>
                        </div>
                        <div class="col-md-7">
                            <section id="design_desc">
                                <h2>使用RAML设计您的API</h2>
                                <div style="height: 150px; overflow: hidden; margin: 30px 0;"><img src="images/design_editor.png"
                                        style="margin-top: -10px;" /></div>
                                <div style="width: 500px;">RAML可让您在设计时看到API的外观，使用易于阅读的纯文本。无需编写单行代码，您不仅可以完善您的API设计，还可以为客户，合作伙伴甚至您自己的内部工程师创建功能齐全的模拟器，以便进行审查和构建。
                                    <div class="learn-more"><a href="/developers/design-your-api">了解有关RAML如何帮助您设计Perfect API的更多信息</a></div>
                                </div>
                            </section>
                            <section id="build_desc">
                                <h2>使用RAML构建您的API</h2>
                                <div style="height: 150px; overflow: hidden; margin: 30px 0;"><img src="images/design_build.png"
                                        style="margin-top: -100px;" /></div>
                                <div style="width: 500px;">RAML使开发人员和工程师能够做他们最擅长的事情 - 编写代码。没有更多的猜测或获得API的中途只是为了实现设计不起作用或不一致。您还可以使用许多可用的工具来帮助您从RAML文件生成API的一般结构，从而缩短产品上市时间（以及基于错误的麻烦）。 <div class="learn-more"><a href="/developers/build-your-api">了解有关RAML如何帮助您构建REST API的更多信息</a></div>
                                </div>
                            </section>
                            <section id="test_desc">
                                <h2>使用RAML测试您的API</h2>
                                <div style="height: 150px; overflow: hidden; margin: 30px 0;"><img src="images/design_tests.png"
                                        style="margin-top: -100px;" /></div>
                                <div style="width: 500px;">大多数工程师讨厌编写单元测试。RAML允许您通过运行简单的shell命令来生成大多数测试。不再需要手动测试（虽然我们当然建议您自己创建），甚至更好 - 您甚至可以使用API​​ Fortress，API Science，Parasoft，Postman和SmartBear等第三方服务来满足您的测试需求。<div class="learn-more"><a href="/developers/test-your-api">了解有关RAML如何轻松测试REST API的更多信息</a></div>
                                </div>
                            </section>
                            <section id="document_desc">
                                <h2>使用RAML记录您的REST API</h2>
                                <div style="height: 150px; overflow: hidden; margin: 30px 0;"><img src="images/design_document.png"
                                        style="margin-top: -125px;" /></div>
                                <div style="width: 500px;">告别花费数小时编写和维护API文档。使用RAML，您可以轻松生成所有文档，只需单击按钮即可提供最新文档。 <div class="learn-more"><a
                                            href="/developers/document-your-api">了解有关RAML如何帮助您的更多信息记录您的API</a></div>
                                </div>
                            </section>
                            <section id="share_desc">
                                <h2>使用RAML共享和支持您的API</h2>
                                <div style="height: 150px; overflow: hidden; margin: 30px 0;"><img src="images/design_share.png"
                                        style="margin-top: -125px;" /></div>
                                <div style="width: 500px;">如果没有人使用它，API会有什么用处？RAML可帮助您为用户提供更丰富的体验，包括API Notebook的动态演练示例，最流行语言的SDK等。 <div
                                        class="learn-more"><a href="/developers/share-support-your-api">了解有关RAML如何帮助您共享REST API的更多信息</a></div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
            <section class="open_source_proj">
                <div class="container">
                    <div>
                        <h2>数以百计的开源项目</h2>
                        <h4>RAML由一个大型开源社区提供支持，为所有RESTful API需求提供数百种预构建，可自定义的工具</h4>
                    </div>
                    <div class="see-all-project"><a href="/projects">查看所有项目</a></div>
                </div>
            </section>
        </div>
        <div class="bottom-wrapper">
            <footer class="footer container">
                <div class="row">
                    <div class="col-md-4">
                        <section>
                            <div class="logo"><img src="/images/ramllogo.png" alt="home" /></div>
                            <div class="footer_description">
                                <p>RAML是唯一一个旨在以人类可读格式包含完整API生命周期的规范，其中包含代码和设计模式重用。使用RAML，您可以使用一个规范真正 <a href="/developers/design-your-api">设计</a>,
                                    <a href="/developers/build-your-api">构建</a>, <a href="/developers/test-your-api">测试</a>,
                                    <a href="/developers/document-your-api">记录</a>, 和 <a href="/developers/share-support-your-api">共享</a>
                                    您的API。 </p>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-8">
                        <div class="footer_meu">
                            <ul>
                                <li><a href="/developer" title="For Developers">对于开发人员</a></li>
                                <li><a href="/enterprises" title="For Enterprises">对于企业</a></li>
                                <li><a href="/projects" title="Projects">项目</a></li>
                                <li><a href="https://forum.raml.org/" title="Forum">论坛</a></li>
                                <li><a href="https://medium.com/raml-api" title="Blog">博客</a></li>
                                <li><a href="/about-raml" title="About">关于</a></li>
                            </ul>
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="/" title="RAML">RAML</a></li>
                                <li><a href="/workgroup" title="Workgroup">工作组</a></li>
                                <li><a href="/contact" title="Contact">联系</a></li>
                                <li><a href="/legal" title="Licensing">许可</a></li>
                                <li><a href="https://forum.raml.org/privacy" title="Privacy">隐私</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>